/*
  --- 01 Typography System
  -Font Size(px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  
  -Font Family
  Google Font :Inter
			        -	Clicker Script
  default : sans-serif
  
  -Font Weight
  default : 400
  heading-primary : 700
  
  -Line Height
  default : 1
  heading-primary : 1.1
  
  --- 02 Color
  -Primary : ;
  -Tints : ,
  -Shades : ,
  -Accents
  -Grays : ;
  
  --- 03 Shadow
  
  --- 04 Border Radius
  default : 9px;
  
  -Spacing System(px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

:root {
  --light-black: #262626;
  --dark-black: #1c1917;
  --white: #f5f5f4;
  --dark-gold: #d97706;
  --light-gold: #facc15;
  --blue: #3730a3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*Font-size => 10 */
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 1.6rem;
  background-color: var(--light-black);
}

/* Header Style */
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-black);
  align-items: center;
  padding: 1.2rem 2.4rem;
}
.brand {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.logo-img {
  width: 5rem;
}
.main-title {
  color: var(--dark-gold);
  font-size: 3.2rem;
}

.date-time {
  list-style: none;
}
.date-time li:first-child {
  color: var(--light-gold);
  font-size: 1.8rem;
  text-align: right;
  margin-bottom: 1rem;
}
.date-time li:last-child {
  color: var(--blue);
  font-size: 1.4rem;
  text-align: right;
}

/* Search and Transition */
.search {
  display: grid;
  grid-template-columns: 1fr 1fr 300px;
  background-color: var(--light-black);
  padding: 0.8rem 3.2rem;
  align-items: center;
}
.transition-search-gp {
  color: var(--white);
  font-size: 1.4rem;
}
.transition {
  margin-bottom: 0.8rem;
}
.transition,
.search-form {
  display: flex;
}
.transition-search-gp label {
  width: 15rem;
  display: inline-block;
  text-align: right;
  padding-right: 2rem;
}
.transition-search-gp input {
  background-color: var(--dark-black);
  border: none;
  outline: none;
  width: 25rem;
  height: 2.8rem;

  color: var(--dark-gold);
  font-size: 1.4rem;
  padding-left: 1.6rem;
}
.search button {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

.current-date {
  color: var(--white);
  font-size: 2rem;
}
.total-amount {
  color: var(--dark-gold);
  font-weight: 600;
  font-size: 3rem;
  text-align: right;
}
/* Main Section */
.main {
  color: white;
  background-color: var(--dark-black);
  width: 100%;
  height: 70vh;

  display: grid;
  grid-template-columns: 1fr 500px;
}
/* Item */
.item-list {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.6rem;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
}

.item-group {
  cursor: pointer;
  background-color: var(--light-black);
  width: 95%;
  height: 250px;
}

.item-img {
  width: 98%;
  padding: 0.8rem;
}
.item-img img {
  width: 100%;
  height: 15rem;
  border-radius: 50%;
}
.item-data {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
}
.item-data li:first-child {
  color: var(--light-gold);
}
.item-data li span:first-child {
  display: inline-block;
  width: 70px;
}

/* Cart */
.cart {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.cart-items {
  width: 100%;
  border-left: 1px solid #000;
  overflow: hidden;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
table {
  width: 100%;
  border: 1px solid white;
  font-size: 1.6rem;
}
tr,
td,
th {
  border: 1px solid var(--white);
  border-collapse: collapse;
  padding: 1.2rem 0;
}
tr td {
  padding-left: 1rem;
}

/* Noted */
.noted {
  height: 300px;
  background-color: var(--light-black);
}
.total-data {
  width: 100%;
  padding: 1.2rem 3.2rem;
}
.total-data span {
  display: inline-block;
  width: 45%;
  font-size: 1.6rem;
}
.noted form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.rec-amount label {
  margin-bottom: 1.6rem;
}
.rec-amount label,
.bal-amount label {
  width: 150px;
  display: inline-block;
}
.rec-amount input,
.bal-amount input {
  border: none;
  background-color: var(--dark-black);
  height: 2.5rem;
}

/* footer Section */
.footer {
  display: grid;
  grid-template-columns: 1fr 500px;
  margin-top: 0.4rem;
  background-color: var(--light-black);
}
.footer .category-list button {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  width: 150px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.footer .cart-action-btn button {
  border: none;
  color: var(--white);
  width: 240px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.cart-action-btn button:first-child {
  background-color: var(--light-gold);
  margin-left: 1rem;
}
.cart-action-btn button:last-child {
  background-color: var(--dark-gold);
}
